stages:
  - trigger
  - bump-version-for-release # Bump version as tag
  - publish # Publish to github

trigger_job:
  stage: trigger
  trigger:
    project: $BUILDER_PROJECT
  rules:
    - when: never

.bump-version:
  image :
    name: alpine/git
    entrypoint: [""]
  before_script:
    - apk add git-cliff
    - apk add jq
    - apk add curl
    - git config --global user.email "gitlab-ci@noctua.gg"
    - git config --global user.name "Noctua Gitlab CI"

bump-version-for-release:
  extends: .bump-version
  stage: bump-version-for-release
  tags:
    - local2
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
    - if: $CI_COMMIT_BRANCH == "ci"
      when: manual
  variables:
    GIT_STRATEGY: fetch # reuse workspace
    GIT_DEPTH: 0 # avoid shallow clone to give cliff all the info it needs
  artifacts:
    reports:
      dotenv: build.env
  script:
    - NEW_VERSION_TAG=$(git tag --list | sort -V | tail -n1 | awk '{v=$0; sub(/^[^0-9]*/, "", v); sub(/-.*/, "", v); split(v,a,"."); a[2]++; a[3]=0; printf "%d.%d.%d", a[1], a[2], a[3]}'); echo "$NEW_VERSION"
    - jq --arg version "$NEW_VERSION_TAG" '.version = $version' package.json > temp.json && mv temp.json package.json
    - |
      cat <<EOF > Runtime/AssemblyInfo.cs
      using System.Reflection;

      [assembly: AssemblyVersion("$NEW_VERSION_TAG")]
      EOF
    - if [ -n "$(git diff --name-only HEAD -- ./package.json)" ]; then
        echo "Bumping version for next release";
        git add package.json;
        git add Runtime/AssemblyInfo.cs;
        git commit -m "bump version to $NEW_VERSION_TAG [skip ci]";
        git push "https://$GITLAB_BUILDER_USER:$GITLAB_BUILDER_ACCESS_TOKEN@gitlab.com/evosverse/noctua/noctua-sdk-unity-upm.git" HEAD:$CI_COMMIT_BRANCH --follow-tags -o ci.skip;
      else
        echo "No version bump required";
      fi
    - echo "NEW_VERSION_TAG=$NEW_VERSION_TAG" > build.env
    - echo "COMMIT_HASH=$(git rev-parse --short HEAD)" >> build.env

# Publish to github
publish:
  stage: publish
  extends: .bump-version
  tags:
    - local2
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
    - if: $CI_COMMIT_BRANCH == "ci"
  variables:
    GIT_STRATEGY: fetch # reuse workspace
    GIT_DEPTH: 0 # avoid shallow clone to give cliff all the info it needs
  needs: [bump-version-for-release]
  artifacts:
    reports:
      dotenv: build.env
  script:
    - git fetch origin
    - git checkout $COMMIT_HASH
    - curl -sS https://webi.sh/gh | sh
    - source ~/.config/envman/PATH.env
    - git-cliff --latest > GithubRelease.md
    - gh auth status >/dev/null 2>&1 || echo "$GITHUB_ACCESS_TOKEN" | gh auth login --with-token
    - gh auth status --show-token 2>/dev/null | grep -q 'workflow' || gh auth refresh -h github.com -s workflow
    - git remote add github https://github.com/NoctuaLabs/noctua-unity-sdk-upm.git
    - gh release create $NEW_VERSION_TAG --title $NEW_VERSION_TAG --notes-file GithubRelease.md
    - git remote remove github
