.base-header-with-close-button {
    height: 24px;
    width: 280px;
    font-size: 12px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.box-back-button {}

.box-text-verif-code {
    flex: 75%;
}

.box-close-button {}